.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

  .indicadores-container {
    overflow: hidden;
  }
  
  .indicadores-bar {
    display: inline-block;
    white-space: nowrap;
    animation: desplazar 15s linear infinite; 
  }
  
  .indicadores-bar span {
    margin-right: 20px;
    font-weight: bold;
    display: inline-block;
  }
  
  @keyframes desplazar {
    0% {
      transform: translateX(275%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  .carousel-caption {
    position: absolute;
    top: 250px; 
    left: 50px; 
    right: 50px; 
    text-align: left; 
    color: white; 
    padding: 20px; 
  
